* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: hsl(218, 22%, 67%);
}

h1 {
  color: hsl(179, 62%, 43%);
  font-weight: 700;
}

/* layout */
main {
  margin: 10em auto;
}

.container {
  max-width: 1440px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.intro {
  padding: 2em;
}

.box {
  padding: 2em;
  width: 100%;
  color: hsl(204, 43%, 93%);
  display: flex;
}

.box-1 {
  background: hsl(179, 62%, 43%);
  flex: 1;
}

.box-2 {
  background: hsl(170, 62%, 43%);
  flex: 1;
}

footer {
  text-align: center;
  margin-top: 1em;
}

footer a {
  text-decoration: none;
}
